.minigame-card {
    width: 100%;
    position: relative;
    border-radius: 20px;
    border-width: 4px;
    border-color: white;
    background-color: rgb(235, 235, 235);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition-property: scale;
    transition-duration: 0.15s;
    overflow: visible;
    aspect-ratio: 1.5;
}

.minigame-card-view-root {
    width: 300px;
    height: 200px;
    max-width: 300px;
    flex-grow: 1;
}

.minigame-card-view-wrapper {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 5%;
}

.card-thumbnail {
    flex-shrink: 1;
    -unity-background-scale-mode: scale-to-fit;
}

.card-title {
    flex-shrink: 0;
    width: 100%;
}

.favorite-corner {
    position: absolute;
    left: -10px;
    top: -10px;
    width: 50px;
    height: 50px;
    overflow: visible;
    background-image: url("project://database/Assets/MainMenu/Sprites/favorite-corner.png?fileID=2800000&guid=4c7a2df86ee26d74995165c138634137&type=3#favorite-corner");
}

.favorite-corner-background {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -unity-background-scale-mode: stretch-to-fill;
}

.favorite-heart {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 50%;
    height: 50%;
    flex-shrink: 0;
    -unity-background-scale-mode: scale-to-fit;
    -unity-image-tint-color: white;
    background-image: url("project://database/Assets/MainMenu/Sprites/favorite-heart.png?fileID=2800000&guid=c396f380667c9954f8814132cb8a6fe2&type=3#favorite-heart");
}

.card-title {
    height: auto;
    flex-shrink: 0;
    -unity-text-align: middle-center;
    font-size: 24px;
    color: rgb(70, 70, 70);
    -unity-font-style: bold;
}

.minigame-card:hover {
    scale: 1.06;
}

.pressed {
    scale: 0.98;
}
