.difficulty-popup-wrap {
    display: flex;
    flex-direction: column;
    /*min-width: 60%;
    max-width: 80%;*/
    width: 1200px;
    height: 720px;
    padding: 20px 10px;
}

.difficulty-popup .popup-wrapper {
    padding: 0;
    border-radius: 70px;
}

.difficulty-popup-main {
    width: 100%;
    height: 76%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}


.difficulty-popup-footer {
    width: 100%;
    height: 24%;
    align-items: center;
    padding-bottom: 40px;
}

.difficulty-text {
    font-size: 64px;
    color: black;
    margin-top: 80px;
}

.difficulty-popup .card-title {
    display: none;
}

.difficulty-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.difficulty-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 0;
    border-width: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
}

.difficulty-close-btn .unity-image {
    --unity-image-tint-color: rgba(220, 220, 220, 1);
}

.difficulty-close-btn:hover .unity-image {
    --unity-image-tint-color: rgb(255, 255, 255);
}


.difficulty-icon-btn .minigame-card {
    height: 290px;
    width: 440px;
}

.difficulty-icon-btn .minigame-card:hover {
    scale: 1;
}

.difficulty-btn {
    width: 26%;
    height: 150px;

    border-radius: 30px;
    border-width: 10px;
    border-color: black;

    font-size: 64px;
    
}

.difficulty-btn-easy {
    background-color: #97E545;
    border-color: #97E545;
}

.difficulty-btn-easy:active {
    background-color: #364626;
}

.difficulty-btn-medium {
    background-color: #FFD900;
    border-color: #FFD900;
}

.difficulty-btn-medium:active {
    background-color: #4b4318;
}

.difficulty-btn-hard {
    background-color: #FF8000;
    border-color: #FF8000;
}

.difficulty-btn-hard:active {
    background-color: #4b3218;
}

