.title
{
    font-size: 48px;

    unity-font-style: bold;

    unity-text-align: middle-center;

    color: rgb(35,35,35);
}

.subtitle
{
    font-size: 30px;

    unity-text-align: middle-center;

    color: rgb(40,40,40);
}

.button-text
{
    font-size: 26px;

    unity-text-align: middle-center;
}

.small-text
{
    font-size: 18px;
}